In [80]:
import os

In [81]:
os.chdir('/Users/jaced/desktop/N6806/Week 4/exerPythFileRename/Planets')

In [82]:
print(os.getcwd())

C:\Users\jaced\desktop\N6806\Week 4\exerPythFileRename\Planets

In [84]:
for f in os.listdir():
    print (f)

Mars - Our solar system -#5.txt
Mercury - Our solar system -#2.txt
Neptune - Our solar system -#8.txt
Pluto - Our solar system -#10.txt
Saturn - Our solar system -#7.txt
The Sun - Our solar system -#1.txt
Uranus - Our solar system -#9.txt
Venus - Our solar system -#3.txt

In [85]:
for f in os.listdir():
    print(os.path.splitext(f))

('Mars - Our solar system -#5', '.txt')
('Mercury - Our solar system -#2', '.txt')
('Neptune - Our solar system -#8', '.txt')
('Pluto - Our solar system -#10', '.txt')
('Saturn - Our solar system -#7', '.txt')
('The Sun - Our solar system -#1', '.txt')
('Uranus - Our solar system -#9', '.txt')
('Venus - Our solar system -#3', '.txt')

In [86]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = (file_name.split('-'))
    print (f_title)

Mars
Mercury
Neptune
Pluto
Saturn
The Sun
Uranus
Venus

In [87]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f) 
    
    f_title, f_course, f_num = file_name.split('-')
    print(f_course)

 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system

In [88]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f) 
    
    f_title, f_course, f_num = file_name.split('-')
    print (f_num)

#5
#2
#8
#10
#7
#1
#9
#3

In [89]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f) 
    
    f_title, f_course, f_num = file_name.split('-')
    print (f_title)

Mars
Mercury
Neptune
Pluto
Saturn
The Sun
Uranus
Venus

In [90]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f) 
    
    f_title, f_course, f_num = file_name.split('-')
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    print ('{}-{}-{}{}'.format(f_num, f_course, f_title, f_ext))

05-Our solar system-Mars.txt
02-Our solar system-Mercury.txt
08-Our solar system-Neptune.txt
10-Our solar system-Pluto.txt
07-Our solar system-Saturn.txt
01-Our solar system-The Sun.txt
09-Our solar system-Uranus.txt
03-Our solar system-Venus.txt

In [91]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f) 
    
    f_title, f_course, f_num = file_name.split('-')
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    new_name = ('{}-{}{}'.format(f_num, f_title, f_ext))
    
    os.rename(f, new_name)

In [92]:
for f in os.listdir():
    print (f)

01-The Sun.txt
02-Mercury.txt
03-Venus.txt
05-Mars.txt
07-Saturn.txt
08-Neptune.txt
09-Uranus.txt
10-Pluto.txt